<div>
  <div class="row">
    <h3 class="col">
      Add new pizza
    </h3>
  </div>

  <form class="simple-form" [formGroup]="pizzaForm" (ngSubmit)="addPizza()">
    <div class="row">
      <div class=col>
        <div class="row">
            <label class="col">Name: <input type="text" formControlName="name"/></label><br />
        </div>
        <div class="row">
          <label class="col">Price: <input type="number" formControlName="price"/></label><br />
        </div>
        <div class="row">
          <div class="col">
              <label>Description: <input type="text" formControlName="description"/></label><br />
          </div>
        </div>
        <div formArrayName="ingredients"
        *ngFor="let ingredient of ingredients.controls; let i=index" class="row">
          <div class="col">
            <input type="text" [formControlName]="i"/> 
          </div>
          <span class="close col" aria-label="Close" (click)="removeIngredient(i)">X</span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
          <button class="float-right" type="submit" [disabled]="!pizzaForm.valid">Submit</button>
        </div>
    </div>
  </form>

  <div class="row">
    <div class="col">
        <button class="float-right" (click)="addIngredient()" >Add Ingredient</button>
      </div>
  </div>
</div>